
body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	background-color: #101010;
	color: white;
	margin: 0 0 0 0;
	padding: 0;
	width: 100%;
}

a {
    margin: 0;
    display: inline;
    position: relative;
    text-decoration: none;
    color: lightgreen;
}

a:hover {
    text-decoration: underline;
    #color: #3465A4;
}

#notification {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
    width: 400px;
    background: black;
    text-align: center;
    line-height: 2;
    overflow: hidden;
    border-radius: 25px;
}

.info {
    color: lightgreen;
    border: 5px solid lightgreen;
}

.error {
	color: rgb(255, 153, 0);
    border: 5px solid rgb(255, 153, 0);
}

#texteditor {
    border: 3px solid gray;
    background-color: gray;
}

#texteditor a {
    text-decoration: none;
}

#texteditor a:hover,
#texteditor a:focus {
    background-color: lightblue;
    border: 3px solid black;
}

#texteditor tt {
    color: black;
    font-weight: bold;
    font-size: 0.9em;
    background-color: lightgreen;
    border: 1px solid black;
    padding: 2px;
}

#texteditor .error {
    background-color: #FFCCBA;
}

#texteditor textarea {
    margin-left: 0;
    margin-right: 0;
    color: white;
    width: 950px; 
    padding: 0; 
    background-color: rgb(0,64,128);
    font-family: "Bitstream Vera Sans Mono", monospace;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    overflow-y: scroll;
    resize: none
}

.admin form {
/* 	margin:0 auto; */
	width:400px;
	padding:14px;
    padding-top: 0px;
}

.admin label {
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}

.admin input {
	float:left;
	font-size:14px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin:2px 0 20px 10px;
}

.admin input[type=checkbox] {
	border: 1px solid red;
    margin-left: 4px;
    float:left;
    width: 200px
}

.admin button {
	clear:both;
	width:125px;
	height:31px;
	text-align:center;
	color: black;
	font-size:13px;
	font-weight:bold;
    margin-top: 20px;
    margin-right: 15px
}

.admin h1 {
	margin-bottom: 30px;
}

.admin table {
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 3px;
}
.admin table tbody td{
    border: 1px solid lightgray;
    padding: 3px 10px;
    color: white;
    font-size: 12px;
}

.admin table th{
    color: white;
    font-family: Verdana;
    font-weight: normal;
    border: 1px solid lightgray;
    padding: 5px 10px;
    background-color: #111122;
    font-size: 12px;
    letter-spacing: 3px;
}

.admin a {
    color: lightgreen;
    text-decoration: none;
}

.admin a:hover {
    text-decoration: underline;
}

.admin table tr:hover {
    background-color: #111122;
}

#content {
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    border-radius: 15px;
    border: 5px solid gray;
}

#__fullsite {
    #font-family: tahoma;
    font-size: 12px;
    display: block
}

#header {
    width: 960px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 15px;
    border: 5px solid gray;
    background-color: black;
}

#header .right {
    position: absolute;
    margin-top: -10px;
    width: 300px;
    height: 100px;
    border-left: 5px solid gray;
    margin-left: 650px;
    padding-left: 7px;
}


#header .title {
    float: left;
    font-family: "MuseoSans",Helvetica;
    font-size: 68px;
    font-weight: normal;
    letter-spacing: -1.5px;
    margin-left: 10px;
    margin-top: 25px;
    color: white;
}

#header .titledesc {
    color: gray;
}

#header .title a {
    color: white;
    text-decoration: none;
}

#header .title a:hover {
    color: gray;
}

#wikitext {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.8em;
}

#wikitext .toc {
	padding: 5px 0;
	display: block;
}

#wikitext .pw_wiki_link_na:hover {
	text-decoration: none;
	border-bottom: 1px solid yellow;
}

#wikitext .pw_wiki_link_na {
	color: yellow;
	border-bottom: 1px dotted yellow;
	text-decoration: none;
}

#wikitext .pw_wiki_error {
	border: 2px solid red;
	color: red;
	padding: 3px;
	width: 200px;
	background-color: yellow;
}

#wikitext table {
	border-collapse: collapse;
	margin-bottom: 20px;
	margin-top: 20px;
	#margin: 20px;
}

#wikitext .tablediv {
	overflow: auto;
	width: 100%;
	border: 0 solid green;
}

#wikitext table tbody td{
	 border: 1px solid lightgray;
	 padding: 3px 10px;
	 color: white;
	 font-size: 15px;
}

#wikitext table th{
	 color: white;
	 font-family: Verdana;
	 font-weight: normal;
	 border: 1px solid lightgray;
	 padding: 5px 10px;
	 background-color: #111122;
	 font-size: 14px;
	 letter-spacing: 3px;
}

#wikitext pre {
	font-family: monospace;
	border: 1px solid lightgray;
	overflow-y: hidden;
	overflow-x: auto;
	background-color: #1A1A1A;
	color: lightblue;
	font-size: 13px;
	line-height: 16px;
	margin: 6px 0;
	padding: 0;
}


#wikitext pre div {
	background:url("media/line-numbers.png") repeat-y left -10px;
	background-color: #1A1A1A;
	padding-left: 30px;
	margin: 2px;
}



#wikitext li pre {
	margin: 5px 0;
}

#wikitext .section_math {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 15px;
}

#wikitext .level {
#	margin-left: 20px;
}

#wikitext .highlighted {
	#background-color: orange;
	border-radius: 3px;
	padding: 1px 3px;
	#color: black;
}

.c0 {
	background-color: orange;
	color: black;
}

.c1 {
	background-color: green;
	color: white;
}
.c2 {
	background-color: yellow;
	color: black;
}
.c3 {
	background-color: #D8000C;
	color: white;
}
.c4 {
	background-color: lightblue;
	color: black;
}



#wikitext .less_significant {
	color: #444444;
	font-size: 0.8em;
}
#wikitext .emphasised {
	#color: yellow;
	color: orange;
}


#wikitext h1,
#wikitext h2,
#wikitext h3,
#wikitext h4,
#wikitext h5 {
 font-family: Georgia, Times, "Times New Roman", serif;
 color: #3465A4;
 clear: left;
}

#wikitext .clear {
	clear: both;
}

#wikitext h1 {
	margin: 55px auto 30px auto;
	padding-bottom: 15px;
	padding-left: 15px;
	border-bottom: 1px solid #9999CC;
	font-size: 2.3em;
	font-weight: normal;
	letter-spacing: 5px;
}

#wikitext h2 {
	font-weight: normal;
	border-bottom: 1px solid #222222;
	font-size: 1.7em;
	margin-top: 45px;
	letter-spacing: 4px;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

#wikitext h3 {
	font-size: 1.1em;
	margin-bottom: 10px;
	letter-spacing: 3px;
	margin-top: 20px;
}

#wikitext h4 {
	color: white;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 10px;
	letter-spacing: 2px;
	margin-top: 20px;
}

#wikitext h5 {
	color: white;
	font-size: 1em;
	margin-bottom: 10px;
	letter-spacing: 1px;
	margin-top: 20px;
}


#wikitext p {
	margin-bottom: 10px
	line-height: 1.6em;
}

#wikitext strike:hover {
	text-decoration: none;
	border-top: 1px solid #333333;
}

.editing {
	border: 1px solid black;
	background-color: lightgray;
	vertical-align: middle;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 10px;
	cursor: pointer;
	float: right;
	display: inline;
}

#wikitext code,
#wikitext .code {
	color: lightblue;
	font-size: 16px;
	font-family: monospace;
	background-color: #1A1A1A;
}

#wikitext .underline {
	text-decoration: underline;
}

#wikitext a {
	color: lightgreen;
	text-decoration: none
}

#wikitext a:hover {
	text-decoration: underline;
	#color: #3465A4;
}

#wikitext .footnote {
	color: lightgreen;
	text-decoration: none;
	font-size: 10px;
}

#wikitext .footnote_t {
	color: lightgreen;
	text-decoration: none;
}

#wikitext .footnote_t:hover {
	text-decoration: none;
	color: #3465A4;
}

#wikitext .footnotes {
	/*border-top: 1px solid lightblue;*/
	/*margin-top: 30px;*/
}

#wikitext .big {
	font-size: 110%;
}

#wikitext .strike {
		text-decoration: line-through;	
}



#wikitext dt {
	color: #3465A4;
	#color: orange;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.6em;
}

/*
#wikitext button {
	vertical-align: middle;
	margin: 0 5px;
	padding: 3px;
	background-color: white;
	border: 1px solid gray;
	color: black;
}

 #wikitext input { 
	-moz-border-radius: 5px;
	vertical-align: middle;
	margin: 0 -2px;
	padding: 3px;
	background-color: white;
	border: 1px solid gray;
	color: black;
}
#wikitext input:hover,
#wikitext button:hover,
#wikitext input:focus,
#wikitext button:focus {
	background-color: lightblue;
	border: 1px solid black;
}*/

#wikitext ul {margin: 0; padding-left: 25px; list-style-type: square;}
#wikitext ul ul,
#wikitext ol ul {margin: 0px; padding-left: 15px; list-style-type: square; list-style-position: outside}
#wikitext ol {margin: 0; padding-left: 27px;}
#wikitext ol ol {margin: 0; padding-left: 15px;}
#wikitext li {color: white; padding-left: 0; padding-top: 2px;}
#wikitext ol li .text {color: white}
#wikitext li .text {
	margin-bottom: -3px;
	color: white;

}

#wikitext .center {
	text-align: center;
}
#wikitext .center table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#wikitext .right {
	text-align:right
}

/*************
 * SEKTIONEN *
 *************/
#wikitext .section_info,
#wikitext .section_success,
#wikitext .section_warning,
#wikitext .section_error,
#wikitext .section_validation,
#wikitext .section_border {
	border: 1px solid;
	margin: 10px 0px;
	padding:5px;
	background-repeat: no-repeat;
	background-position: 10px center;
	border-radius: 5px;
}

#wikitext .section_info {
	color: #00529B;
	background-color: #BDE5F8;
	/*background-image: url('../../lib/icons/PNG/info.png');*/
}
#wikitext .section_info li {
	color: #00529B;
}
#wikitext .section_info a {
	color: blue;
}
#wikitext .section_info a:hover {
	color: #00529B;
}
#wikitext .section_info code,
#wikitext .section_error code,
#wikitext .section_info .code,
#wikitext .section_error .code {
	color: #00529B;
	background-color:	#95d8f8;
	font-size: 0.9em;
}
#wikitext .section_info dt {
	color: #3465A4;
}

#wikitext .section_success {
	color: #4F8A10;
	background-color: #DFF2BF;
	/*background-image:url('../../lib/icons/PNG/success.png');*/
}
#wikitext .section_warning {
	color: #9F6000;
	background-color: #FEEFB3;
	/*background-image: url('../../lib/icons/PNG/warning.png');*/
}
#wikitext .section_error {
	color: #D8000C;
	background-color: #FFBABA;
	/*background-image: url("../../lib/icons/PNG/cancel.png");*/
}
#wikitext .section_validation {
	color: #D63301;
	background-color: #FFCCBA;
	/*background-image: url('../../lib/icons/PNG/validation.png');*/
}
#wikitext .section_left {
	width: 48%;
	float: left;
	margin: 5px 10px 10px 0;
	padding: 3px 0
}
#wikitext .section_right {
	width: 48%;
	float: right;
	margin: 5px 0 10px 10px;
	padding: 3px 0
}
#wikitext .section_border {
	border: 1px solid gray;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	background-color: black;
}

/*
#__fullsite {
	width: 100%;
	height: 100%;
	border: 3px solid red;
}*/

/* Workaround: Unreadable with white text...*/
.xdebug-error {
	color: black;
}
